<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.mediczy_com"
    android:versionCode="@string/versionCode"
    android:versionName="@string/versionName">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.mobicomkit.sample.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="app.mediczy_com.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="app.mediczy_com.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppState"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup,supportsRtl"
        tools:ignore="HardcodedDebugMode">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".ChatBot.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".dashboard.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- map meta data and library -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/Map_API_Live_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".service_broadcast.ServiceOnlineStatus"
            android:enabled="true">
            <intent-filter>
                <action android:name=".ServiceOnlineStatus" />
            </intent-filter>
        </service>
        <service
            android:name=".service_broadcast.ServiceVersionCheck"
            android:enabled="true">
            <intent-filter>
                <action android:name=".ServiceVersionCheck" />
            </intent-filter>
        </service>
        <service
            android:name=".payment.ServicePaymentStatus"
            android:enabled="true">
            <intent-filter>
                <action android:name=".ServicePaymentStatus" />
            </intent-filter>
        </service>

        <receiver android:name=".service_broadcast.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service_broadcast.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service_broadcast.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name=".service_broadcast.ServiceOnlineStatus" />
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name="app.mediczy.service_broadcast.TelephonyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        -->


        <!-- fcm service -->

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.FCMMessageReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
-->

        <!--Sinch-->
        <service android:name=".video_call.updated.SinchService" />

        <activity
            android:name=".video_call.updated.LoginActivityVideoCall"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".video_call.updated.CallScreenActivityVideoCall"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".video_call.updated.IncomingCallScreenActivityVideoCall"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".video_call.updated.PlaceCallActivityVideoCall"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--Sinch-->

        <activity
            android:name=".HomeNavigation"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".ambulance_list.Ambulance_List_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".viewdetail.ViewDetail"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".payment.Payment"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".dashboard.Register"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.Otp_Screen"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".DoctorsList"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".doctor_prescribed.Doctor_Prescribed_List"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".doctor_prescribed.Doctor_Prescribed_Detail"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".payment.PaymentByDoctor"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".settings_help.Help_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".settings_help.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".profile.Profile_Edit"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".profile.Profile_Edit_Photo"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_tube.HealthTube_List"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_tube.HealthTubeDetail"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_tube.HealthTube_VideoView"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".patient_problem_form.PatientProblemForm"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".patient_problem_form.PatientFormDetail"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".doctor_prescribed.ADD_Doctor_Prescribed"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".filter.FilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_card.CardBuyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_card.HealthCard"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_card.PaymentCardBuy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".chat.chat_new.ChatListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_ToolBarChat" />
        <activity
            android:name=".chat.chat_new.ConversationListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".delivery_form.DeliveryFormActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".network_partners.MerchantsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".network_partners.HospitalMerchantsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".network_partners.AdsMerchantsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".network_partners.MerchantDetail"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".network_partners.MerchantsCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".health_card.HealthCardListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />

        <!--chatbox-->
        <activity
            android:name=".ChatBot.ChatBotActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".ChatBot.Report_DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".ChatBot.Report_ListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".ChatBot.PaymentGateway"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />
        <activity
            android:name=".Splash_Side.MoveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_No_Ac" />

<!--        <provider
            android:name=".ChatBot.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>-->

    </application>

</manifest>